<!DOCTYPE html>
<html ng-app="MyApp">
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<header id="header" class="header">
  The Metropolitan Museum of Art
</header>
<hr>
  <div ng-controller="ExhibitController as ex">
  <h1>Exhibit: </h1>
    <img src="{{ex.painting}}" alt="portrait">
  </div>

  <div ng-controller="InfoController as info">
  <hr>
  <h1>General Info</h1>
  <h3>Hours:</h3>
  <ul>
    <li ng-repeat="(days, hours) in info.hours">{{days}} {{hours}}</li>
  </ul>
  <h3>Suggested Admission:</h3>
  <ul>
    <li ng-repeat="(age, price) in info.admission">{{age}} - {{price}}</li>
  </ul>
  <hr>
  </div>
  <div ng-controller="DonorController as donor">
    <h1>Donor Information</h1>
    <h3>Contact:</h3>
    <a href="mailto:{{donor.contact}}?subject=feedback" "email metro museum">{{donor.contact}}</a> • {{donor.phone}}
    <h3>Donation Amounts: </h3>
    <ul>
      <li ng-repeat= "value in donor.amount">${{value}}</li>
    </ul>
  </div>
  <!-- AngularJS CDN, must come first -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>

  <!-- Our Javascript files, app.js must be loaded first -->
  <script src="js/app.js"></script>
  <script src="js/controllers/InfoController.js"></script>
  <script src="js/controllers/ExhibitController.js"></script>
  <script src="js/controllers/DonorController.js"></script>

</body>
</html>
